@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --white: #ffffff;
    --alice_blue: #edf5fc9c;
    --rich_black: #00171f;
    --prussian_blue: #003459;
    --cerulean: #007ea7;
    --picton_blue: #00a8e8;
    --roboto: 'Roboto', sans-serif;
}

body {
    font-family: var(--roboto);
    background-color: var(--prussian_blue) ;
    text-align: center;
    margin: 0;
    padding: 0;
}


.container {
    width: 300px;
    margin: 0 auto;
    margin-top: 10%;
    background: #fff;
    padding: 20px;
    border: 5px solid var(--rich_black);
    box-shadow: 0 0 5px rgba(112, 112, 112, 0.3);
}

.container-assentos{
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 24px;
}

img{
    width: 90px;
    margin-bottom: 10px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    background: var(--rich_black);
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
}

#error-message {
    color: #f00;
    font-weight: bold;
}
