@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --white: #ffffff;
  --alice_blue: #edf5fc9c;
  --rich_black: #00171f;
  --prussian_blue: #003459;
  --cerulean: #007ea7;
  --picton_blue: #00a8e8;
  --gamboge: #efca08;
  --roboto: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--roboto);
  font-size: 16px;
  box-sizing: border-box;
  background-color: var(--alice_blue);
  display: flex;
  flex-direction: column;
}

/*     HEADER     */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--prussian_blue);
}

header .img,
header .img-logo {
  margin-left: 20px;
  padding: 5px;
}

header img {
  width: 120px;
}

header ul {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

header li {
  list-style: none;
  padding: 5px;
}

header a {
  text-decoration: none;
  padding: 1px;
  color: var(--white);
}

header a:hover {
  color: var(--alice_blue);
}

li.logout span {
  color: var(--white);
  vertical-align: middle;
  font-size: 16px;
}

li.logout a {
  padding-right: 0px;
}

/*     FOOTER     */

footer {
  background-color: var(--prussian_blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.footer-logo img {
  width: 200px;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons img {
  width: 35px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 4px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: var(--alice_blue);
}
